Repository Likelion-YeungNam-Univ/tireso-was, pull requests merged in 2023-08, with the labels that each got.

#5 [feat] 소셜 로그인 구현 closes #4
  .gitignore
  README.md
  build.gradle
  src/main/java/com/nes/tireso/base/baseEntity/BaseEntity.java
  src/main/java/com/nes/tireso/base/jpa/JpaConfig.java
  src/main/java/com/nes/tireso/base/rq/Rq.java
  src/main/java/com/nes/tireso/base/rsData/RsData.java
  src/main/java/com/nes/tireso/base/security/CustomOAuth2AccessTokenResponseClient.java
  src/main/java/com/nes/tireso/base/security/CustomOAuth2UserService.java
  src/main/java/com/nes/tireso/base/security/CustomUserDetailsService.java
  src/main/java/com/nes/tireso/base/security/SecurityConfig.java
  src/main/java/com/nes/tireso/boundedContext/home/controller/HomeController.java
  src/main/java/com/nes/tireso/boundedContext/member/controller/MemberController.java
  src/main/java/com/nes/tireso/boundedContext/member/entity/Member.java
  src/main/java/com/nes/tireso/boundedContext/member/repository/MemberRepository.java
  src/main/java/com/nes/tireso/boundedContext/member/service/MemberService.java
  src/main/resources/application.properties
  src/main/resources/templates/usr/member/login.html
  src/main/resources/templates/usr/member/me.html
Labels: auth

#7 [feat] 엔티티 일괄 생성 closes #6
  src/main/java/com/nes/tireso/boundedContext/brand/entity/Brand.java
  src/main/java/com/nes/tireso/boundedContext/member/entity/Member.java
  src/main/java/com/nes/tireso/boundedContext/tire/entity/Tire.java
Labels: auth, tire

#9 Swagger 설정 및 API 명세 페이지 구현 closes #8
  build.gradle
  src/main/java/com/nes/tireso/base/swagger/SwaggerConfig.java
  src/main/java/com/nes/tireso/boundedContext/member/controller/MemberController.java
Labels: documentation

#13 chore: cors 해결 #12
  src/main/java/com/nes/tireso/TiresoApplication.java
  src/main/java/com/nes/tireso/boundedContext/auth/controller/AuthController.java
  src/main/java/com/nes/tireso/boundedContext/home/controller/HomeController.java
  src/main/java/com/nes/tireso/boundedContext/member/controller/MemberController.java
  src/main/java/com/nes/tireso/boundedContext/member/entity/Member.java
  src/main/java/com/nes/tireso/cors/config/CorsConfig.java
Labels: bug, auth

#16 [feat] 타이어 전체 목록 조회 API 구현 closes #14
  src/main/java/com/nes/tireso/boundedContext/tire/controller/TireController.java
  src/main/java/com/nes/tireso/boundedContext/tire/repository/TireRepository.java
  src/main/java/com/nes/tireso/boundedContext/tire/service/TireService.java
Labels: tire

#17 [feat] 로그인 API 에서 필요한 회원 정보 가져오기 closes #15
  src/main/java/com/nes/tireso/base/security/CustomOAuth2UserService.java
  src/main/java/com/nes/tireso/boundedContext/home/controller/HomeController.java
  src/main/java/com/nes/tireso/boundedContext/member/entity/Member.java
  src/main/java/com/nes/tireso/boundedContext/member/service/MemberService.java
Labels: member

#21 [Fix] 로그인 인증 다시 구현 closes #20
  .gitignore
  build.gradle
  src/main/java/com/nes/tireso/TiresoApplication.java
  src/main/java/com/nes/tireso/base/advice/GlobalAdviceController.java
  src/main/java/com/nes/tireso/base/baseEntity/BaseEntity.java
  src/main/java/com/nes/tireso/base/config/WebClientConfig.java
  src/main/java/com/nes/tireso/base/exception/BadRequestException.java
  src/main/java/com/nes/tireso/base/exception/OAuth2AuthenticationProcessingException.java
  src/main/java/com/nes/tireso/base/exception/ResourceNotFoundException.java
  src/main/java/com/nes/tireso/base/exception/response/ErrorResponse.java
  src/main/java/com/nes/tireso/base/jpa/JpaConfig.java
  src/main/java/com/nes/tireso/base/rq/Rq.java
  src/main/java/com/nes/tireso/base/rsData/RsData.java
  src/main/java/com/nes/tireso/base/security/CustomOAuth2AccessTokenResponseClient.java
  src/main/java/com/nes/tireso/base/security/CustomOAuth2UserService.java
  src/main/java/com/nes/tireso/base/security/CustomUserDetailsService.java
  src/main/java/com/nes/tireso/base/security/SecurityConfig.java
  src/main/java/com/nes/tireso/base/security/SecurityFilter.java
  src/main/java/com/nes/tireso/base/security/SecurityUtil.java
  src/main/java/com/nes/tireso/base/swagger/SwaggerConfig.java
  src/main/java/com/nes/tireso/boundedContext/auth/controller/AuthController.java
  src/main/java/com/nes/tireso/boundedContext/auth/dto/SignInResponse.java
  src/main/java/com/nes/tireso/boundedContext/auth/dto/SignUpRequest.java
  src/main/java/com/nes/tireso/boundedContext/auth/dto/TokenRequest.java
  src/main/java/com/nes/tireso/boundedContext/auth/dto/TokenResponse.java
  src/main/java/com/nes/tireso/boundedContext/auth/enumType/AuthProvider.java
  src/main/java/com/nes/tireso/boundedContext/auth/enumType/Role.java
  src/main/java/com/nes/tireso/boundedContext/auth/service/AuthService.java
  src/main/java/com/nes/tireso/boundedContext/auth/service/RequestService.java
  src/main/java/com/nes/tireso/boundedContext/brand/entity/Brand.java
  src/main/java/com/nes/tireso/boundedContext/home/controller/HomeController.java
  src/main/java/com/nes/tireso/boundedContext/member/controller/MemberController.java
  src/main/java/com/nes/tireso/boundedContext/member/entity/Member.java
  src/main/java/com/nes/tireso/boundedContext/member/repository/MemberRepository.java
  src/main/java/com/nes/tireso/boundedContext/member/service/MemberService.java
  src/main/java/com/nes/tireso/boundedContext/socialLogin/dto/GoogleUserInfo.java
  src/main/java/com/nes/tireso/boundedContext/socialLogin/dto/KakaoUserInfo.java
  src/main/java/com/nes/tireso/boundedContext/socialLogin/dto/NaverUserInfo.java
  src/main/java/com/nes/tireso/boundedContext/socialLogin/service/GoogleRequestService.java
  src/main/java/com/nes/tireso/boundedContext/socialLogin/service/KakaoRequestService.java
  src/main/java/com/nes/tireso/boundedContext/socialLogin/service/NaverRequestService.java
  src/main/java/com/nes/tireso/boundedContext/tire/entity/Tire.java
  src/main/java/com/nes/tireso/cors/config/CorsConfig.java
  src/main/resources/templates/usr/member/login.html
  src/main/resources/templates/usr/member/me.html
Labels: bug, auth
